* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
}


.cartao-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cartao-content {
    padding: 20px;
}

.cartao-titulo {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.cartao-descricao {
    font-size: 1em;
    color: #666;
    text-align: justify;
}