* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    background-color: bisque;
    padding: 15px 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: plum;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: blueviolet;
    color: #fff;
}